@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  background-size: cover;
  color: #00ffe0;
  overflow: hidden;
}


/*para la imagen de fondo*/
#fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url('bg2.jpg') repeat-x;
  background-size: contain;
  z-index: -1;
}


/* Botón de pausa flotante */
.pausa-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

   width: 200px;
  padding: 12px;
  font-size: 1rem;
  font-family: inherit;
  color: #0f0f0f;
  background: linear-gradient(90deg, #00ffe0, #0080ff);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px #00ffe0;
}

.pausa-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px #00ffe0, 0 0 40px #0080ff;
}

/* Menú de pausa */
.menu-pausa {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(15, 15, 15, 0.95);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px #00ffe0;
  z-index: 100;
}

.menu-pausa h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #00ffe0;
}


/* Botones*/
.btn {
  width: 200px;
  padding: 12px;
  font-size: 1rem;
  font-family: inherit;
  color: #0f0f0f;
  background: linear-gradient(90deg, #00ffe0, #0080ff);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px #00ffe0;
}

.btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px #00ffe0, 0 0 40px #0080ff;
}

.btn.salir {
  background: linear-gradient(90deg, #ff0040, #ff8000);
  box-shadow: 0 0 10px #ff0040;
}

.btn.salir:hover {
  box-shadow: 0 0 20px #ff0040, 0 0 40px #ff8000;
}

/* Oculta menu pausa */
.oculto {
  display: none;
}

/*para animacion fondo*/
@keyframes moverFondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1500px 0; /* el ancho de tu imagen */
  }
}

/*  CONTADORES  */
/*Contador distancia*/
#contador {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: #00ffe0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 10;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 0 10px #00ffe0;
}

/*Contador de puntos*/
#puntos {
  position: absolute;
  top: 100px; /*70 debajo del contador de tiempo */
  left: 20px;
  font-size: 1.8rem;
  color: #00ffe0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 10;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 0 0 10px #00ffe0;
}


/* cuadros 1 *//*
#cuadro1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url('cuadro1.png') repeat-x;
  background-size: auto 100%;
  z-index: -0.5; /* Entre fondo (-1) y piso (0) */
/*  pointer-events: none;
}*/

/* cuadros 2 */
#cuadro2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url('cuadro2.png') repeat-x;
  background-size: auto 100%;
  z-index: -0.25; /* Encima de capa1 pero debajo del HUD */
  pointer-events: none;
}


/*para imagen del piso */
#piso {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100%; /* ajusta según el alto real de piso2.png */
  background: url('piso4.png') repeat-x;
  background-size: auto 100%;
/*  background-size: contain;*/
  z-index: 0; /* detrás del HUD pero encima del fondo */
}